<%= link_to "<<index", galleries_path %>

<h1><%= @gallery.name %></h1>

<%= render "like_button", gallery: @gallery %>

<nav>
  <% if @gallery.user == current_user %>
    <%= link_to "Edit Gallery", edit_gallery_path(@gallery) %>
    <%= link_to "Delete Gallery", @gallery, method: :delete, confirm: "Are you sure?" %>
    <%= link_to "Add Image", new_gallery_image_path(@gallery) %>
  <% end %>
</nav>

<%= render @images %>
