<%= link_to "<<back", gallery_path(@image.gallery_id) %>

<h1><%= @image.name %></h1>

<img src="<%= @image.url %>"> 

<p><%= @image.description %></p>




<%= form_for([@image]) do |form| %>   <!-- #note the parenthesis are optional and you should leave them off in practice -->



	<%= render "form_errors", target: @image %>



	<%= form.text_field :name, placeholder: "Name" %>
	<%= form.text_area :description, placeholder: "Description" %>
	<%= form.text_field :url, placeholder: "URL" %>
	<%= form.submit "Update Image" %>
<% end %>