<%= link_to "<<back", gallery_path(@image.gallery_id) %>

<h1><%= @image.name %></h1>

<img src="<%= @image.url %>"> 

<p><%= @image.description %></p>




<%= form_for([@image]) do |form| %>   <!-- #note the parenthesis are optional and you should leave them off in practice -->



	<%= render "form_errors", target: @image %>



	<%= form.text_field :name, placeholder: "Name" %>
	<%= form.text_area :description, placeholder: "Description" %>
  <%= form.text_field :url, placeholder: "URL" %> 
  <%= form.text_field :tag_list, placeholder: "Tags (separated by commas)" %>
	<div>
			<%= form.collection_check_boxes :group_ids, @groups, :id, :name %> <!-- #sending an array of values rather than a single value. -->
	</div>
	<%= form.submit "Update Image" %>
<% end %>
