<%= link_to "<<back", gallery_path(@image.gallery_id) %>

<h1><%= @image.name %></h1>

<%= image_tag(@image.url, width: 400) %>

Tags: <%= raw @image.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>

<div id="like_image_form">
  <p><%= pluralize(@image.likes.count, "like") %></p>
  <% if current_user.like? @image %>
    <%= button_to "Unlike", unlike_image_path, method: :delete, remote: true %>
  <% else %>
    <%= button_to "Like", like_image_path, remote: true %>
  <% end %>
</div>

<p><%= @image.description %></p>
<p>Added by: <%= link_to @image.user.email, @image.user %></p>
<p>Added on: <%= @image.created_at.to_date %></p>

<div>
  <% if @image.user == current_user %>
    <%= link_to "Edit This Image", edit_image_path(@image) %>
    <%= link_to "Delete image", @image, method: :delete, confirm: "Are you sure?" %>	
  <% end %>
</div>

<div>
  <% if signed_in? %>
    <div id="comment_form">
      <%= form_for([@image, @comment], remote: true) do |form| %>
        <%= form.text_area :body, size: "55x5" %>
        <%= form.submit "Comment" %>
      <% end %>
    </div>
  <% else %>	
    <%= link to "Sign In", sign_in_path %> to comment.
  <% end %>	
</div>

<div id="comments_displayed">
  <%= render @comments %>
</div>

<div id= "paginate">
  <%= paginate @comments %>
</div>
